@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply antialiased scroll-smooth transition-all font-noto-sans text-white;
}

.bg-coin {
  background: linear-gradient(
      180deg,
      hsl(0deg 0% 100% / 10%) 45.96%,
      hsla(0, 0%, 100%, 0.57) 46%,
      hsla(0, 0%, 100%, 0) 130%
    ),
    #ffe10d;
}

.shadow-coin {
  box-shadow: 0 2px 0 #eed000;
}

::-webkit-scrollbar {
  width: 5px;
  hight: 5px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 20px;
}
